.mainchat
  .mainheader
    .leftbox
      .groupname
        test
      .membername
        Member: zero
    .editbtn
      Edit 
  .mainmessage
    .mainmessage__box
      .textgroup
        .username
          Syouya
        .textime
          2019/10/08/19:14:39
    .textdate
      仮置き
  .form
    .newmessage
      .inputbox
        .input
          type a message
        .img
          = icon('fas', 'image')
          %input{type: "file", class: "inputbox__image"}
      .submit
        Send
