.sidechat
  .header
    
    .header__logo
      ユーザーネーム
    
    = link_to '#', class: "header__btn" do
      %i.fa.fa-edit
      %span<>
    
    = link_to '#', class: "header__cogbtn" do
      %i.fa.fa-cog
      %span<>  
    

  .contents
    .contents__group
      .contens__group__name
        グループ1
      .contens__group__name2
        テスト

    .contents__group2
      .contents__group2__text_name
        グループ２
      .contents__group__text_name2
        テスト




